.zb-gradient-control-wrap {
    // margin-bottom: 24px;
    .zb-gradient-head {
        margin-bottom: 10px;
    }
    .components-custom-gradient-picker__gradient-bar {
        border-radius: 6px !important;
        overflow: hidden;
    }
    .components-flex {
        width: 100%;
        .components-flex-item {
            &:nth-last-child(1) {
                margin-bottom: 0 !important;
                margin-top: 0 !important;
            }
        }
        .components-spacer {
            margin-top: 0 !important;
        }
    }
    .components-angle-picker-control {
        .components-input-control__suffix {
            position: absolute;
            top: 20%;
            left: 50%;
            .components-truncate {
                color: #000 !important;
            }
        }
    }

    .components-circular-option-picker {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        .components-circular-option-picker__swatches {
            gap: 8px;
        }
    }

    .components-circular-option-picker .components-circular-option-picker__swatches {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        position: relative;
        z-index: 1;
    }

    .components-circular-option-picker__custom-clear-wrapper {
        margin: 0 !important;
    }
    .components-circular-option-picker__clear {
        border: 1px solid #e9e9e9;
        border-radius: 6px;
        box-shadow: none;
        &:hover {
            color: #230aed !important;
            border-color: #230aed;
            box-shadow: none !important;
        }
    }
    .components-angle-picker-control__angle-circle {
        transform: translateY(10px);
    }
    .components-input-control__container {
        border-radius: 6px;
    }
}

.zolo-background-control-popover {
    z-index: 999;
    .components-button.zolo-action-button.is-primary {
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        justify-content: center;
        background-color: #ebeaea;
        color: #000;
        border: 1px solid #ddd;
        &:hover {
            background-color: #ddd;
        }
    }
    .components-popover__content {
        padding: 15px;
        width: 270px;
    }
    .components-input-control__backdrop {
        border: none !important;
    }
    .components-input-control__backdrop,
    select,
    input {
        height: 35px !important;
        min-height: 35px !important;
        outline: none !important;
        border-radius: 6px !important;
        padding: 0 10px !important;
        box-shadow: none !important;
    }
    select,
    input {
        border: 1px solid #e9e9e9 !important;
        &:focus {
            border-color: #001feb !important;
        }
    }

    textarea {
        border: 1px solid #ddd;
        outline: none;
        box-shadow: none;
        border-radius: 6px;
        &:focus {
            border-color: blue;
            box-shadow: none;
        }
    }
}

.components-popover .components-input-control__container .components-input-control__backdrop,
.components-popover .components-input-control__container .components-input-control__input {
    height: 35px !important;
    min-height: 35px !important;
    border-color: #e9e9e9 !important;
    border-radius: 6px !important;
}
// .components-input-control__container .components-input-control__backdrop:focus,
// .components-input-control__container .components-input-control__input:focus {

//     border-color: #001feb !important;
// }

// .components-popover .components-input-control__container {
//    width: 100% !important;
// }

.e1epgpqk10 {
    height: 2px !important;
}

.components-range-control__track {
    height: 2px !important;
}
.components-range-control__thumb-wrapper {
    margin-top: 8px !important;
}

.components-number-control {
    .components-input-control__container {
        // width: auto !important;
        input {
            padding-left: calc(10px) !important;
            padding-right: calc(10px) !important;
        }
    }
    .components-truncate {
        padding-left: calc(10px);
    }
}
