.zb-reset-button,
.zb-rest-btn,
.zb-linked-btn,
.zb-typography-dropdown-btn,
.zolo-border-control .zolo-panel-opener-btn {
	height: 24px !important;
	width: 24px !important;
	padding: 6px !important;
	background-color: #f2f2f2;
	border-radius: 50%;
	border: 0;
	cursor: pointer !important;
	min-width: auto !important;
	opacity: 1 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		display: block;
		fill: none;
	}
}
.zb-rest-btn,
.zb-linked-btn,
.zb-typography-dropdown-btn {
	svg {
		path {
			stroke: #000;
		}
	}
}
.zb-linked-btn {
	order: 1;
}
