.zb-units-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	gap: 5px;
}

.zb-units-switchers {
	position: relative;
	width: 22px;
	height: 22px;
}

.zb-units-switchers-wrap {
	background: #f2f2f2;
	border-radius: 2px;
	z-index: 11;
	position: relative;
}

.zb-unit-switchers-open {
	.zb-unit-switcher {
		height: 16px;
		transform: scale(1);
		opacity: 1;
		position: relative;
	}
}

.zb-unit-control-btn-group {
	width: 100%;
}

.zb-unit-switcher {
	color: #121212 !important;
	display: inline-flex;
	text-align: center;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	height: 0;
	transform: scale(0);
	opacity: 0;
	transition: all 0.3s;
	font-size: 11px !important;
	line-height: 0;
	height: 16px;
	&.active {
		height: 22px;
		transform: scale(1);
		opacity: 1;
		color: #230aed !important;
		background: #f2f2f2;
		border-radius: 50% !important;
	}
}
