.zolo-iconic-btn-group {
    margin-bottom: 18px;
    .zb-iconic-btn-group {
        display: flex;
        width: 100%;
        border: 0;
        border-radius: 6px;
        background-color: #f2f2f2;

        .components-button {
            border-radius: 6px !important;
            border: 1px solid #f2f2f2;
        }
    }

    .iconic-btn {
        width: 100%;
        justify-content: center;
        svg {
            fill: none !important;
        }
        &.active {
            background: #fff !important;
            color: #001feb;
            border-color: #e8e8ea !important;
            svg {
                rect,
                path {
                    stroke: #001feb;
                }
            }
        }
    }

    .iconic-btn-label {
        margin-bottom: 8px;
        display: block;
    }
}
