.wp-block-zolo-qrcode {
    --zolo-badge-bg-color: #222427;
    --zolo-badge-arrow-color: #222427;
    --zolo-badge-arrow-size: 12px;
    .zolo-qrcode-wrapper {
        canvas {
            border-radius: 10px;
            vertical-align: middle;
        }
    }
    
    .zolo-qrcode-badge {
        text-transform: uppercase;
        line-height: 1;
    }

    .zolo-qrcode-badge-icon {
        svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
            display: block;
        }
    }

    &.zolo-badge-style-1,
    &.zolo-badge-style-2,
    &.zolo-badge-style-3 {
        .zolo-qrcode-wrapper {
            background-color: #222427;
            padding: 10px;
            border-radius: 10px;
        }
    }

    &.zolo-badge-style-1 {
        .zolo-qrcode-wrapper {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
   &.zolo-badge-style-1 {
        .zolo-qrcode-badge {
            margin-top: 10px;
            font-size: 35px;
            line-height: 1;
            color: #fff;
        }
   }
   &.zolo-badge-style-2,
   &.zolo-badge-style-3 {
        .zolo-qrcode-badge-wrapper {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .zolo-qrcode-badge {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 10px;
            justify-content: center;
            position: relative;
            background-color: var(--zolo-badge-bg-color);
            border-radius: 6px;
            padding: 16px;
            width: 100%;
            box-sizing: border-box;
            color: #fff;
            font-size: 20px;
        }
        .zolo-qrcode-badge:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
   }
   &.zolo-badge-style-2 {
        .zolo-qrcode-badge {
            margin-top: 20px;
        }
        .zolo-qrcode-badge:after {
            bottom: 100%;
            border-bottom: var(--zolo-badge-arrow-size) solid var(--zolo-badge-arrow-color);
            border-top: var(--zolo-badge-arrow-size) solid transparent;
            border-left: var(--zolo-badge-arrow-size) solid transparent;
            border-right: var(--zolo-badge-arrow-size) solid transparent;
        }
   }
   &.zolo-badge-style-3 {
        .zolo-qrcode-badge-wrapper {
            flex-direction: column-reverse;
        }
        .zolo-qrcode-badge {
            margin-bottom: 20px;
        }
        .zolo-qrcode-badge:after {
            top: 100%;
            border-width: var(--zolo-badge-arrow-size);
            border-style: solid;
            border-color: var(--zolo-badge-arrow-color) transparent transparent transparent;
        }
   }
}

.zolo-e-icon {
    color: #2667ff
}

// text gradient style
.zolo-text-gradient-color {
    .zolo-ah-title {
      .zolo-ah-main-title,
      .zolo-ah-main-title div {
        display: inline-block;
        background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-position: center;
        background-size: contain;
      }
    }
  }
  
  .zolo-side-premium-notice-wrap {
    --zolo-mask-shadow: 30%;
    position: relative;
    img {
      mask-image: linear-gradient(
        rgba(16, 16, 16, 0.30) var(--zolo-mask-shadow),
        rgba(0, 0, 0, 0)
      );
      height: 350px;
      pointer-events: none;
    }
    .zolo-side-premium-notice {
      background-color: transparent;
      border: 0;
      padding: 30px;
      text-align: center;
      position: absolute;
      bottom: -90px;
      .zolo-premium-icon {
        background-color: transparent;
        border: 0;
        height: 100px;
        padding: 0;
        width: 100px;
      }
    }
  }
